<!doctype html>
<html lang="zxx">

{% load static %}

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Sonnet - Portfolio</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,600,600i,700,800" rel="stylesheet">
	<link href="{% static 'fonts/font-awesome.min.css' %}" rel="stylesheet" />
	<link href="{% static 'fonts/themify-icons.css' %}" rel="stylesheet" />
	<link href="{% static 'fonts/etline.css' %}" rel="stylesheet" />
	<link href="{% static 'css/plugins.css' %}" rel="stylesheet" />
	<link href="{% static 'css/lightbox.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
	<link href="{% static 'css/style.css' %}" rel="stylesheet" />


	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>

<body data-spy="scroll" data-offset="80" <!-- START PRELOADER -->
	<div class="preloader">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>


	<div class="navbar navbar-default navbar-fixed-top menu-top">
		<div class="container">
			<!-- <div class="logo">
<a href="{% static 'index.html' %}" class="navbar-brand"><p>Sonnet</p></a>
<div class="mobile-nav"></div>
</div> -->
			<div id="navbar" class="main_menu">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#home">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#service">Expertise</a></li>
					<li><a href="#portfolio">Work</a></li>
					<li><a href="#resume">Resume</a></li>
					<!-- <li><a href="#blog">Blog</a></li> -->
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>


	<section id="home" class="main_banner banner_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-sm-12 col-xs-12">
					<div class="banner_content">
						<strong>Hello !</strong>
						<h1 class="cd-headline clip">
							<span class="fw_1000">I Am</span>
							<span class="cd-words-wrapper">
								<b class="is-visible fw_300">Showkat Hossain Chy</b>
								<!-- <b class="fw_300">a Software Engineer</b> -->
								<b class="fw_300">a Backend Developer</b>
								<b class="fw_300">an Embedded Developer</b>
							</span>
						</h1>
						<p>Currently working at Samsung Elecronics. I love building awesome software, writing clean and
							maintainable code, working with other people on solving tough problems, and learning new
							things along the way. I have working experience as software engineer at both small start-ups
							and large organizations.</p>
						<ul class="banner_social_link">
							<li><a href="https://www.linkedin.com/in/sonnet-n/"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="https://github.com/showkat2203"><i class="fa fa-github"></i></a></li>
							<li><a href="https://stackoverflow.com/users/8113563/md-showkat-hossain-chy"><i
										class="fa fa-stack-overflow"></i></a></li>
							<li><a href="https://twitter.com/SONNET_N"><i class="fa fa-twitter"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-5 col-sm-12 col-xs-12"></div>
			</div>
		</div>
	</section>


	<section id="about" class="section_padding">
		<div class="container">
			<div class="single_about">
				<div class="row">
					<div class="col-md-5 col-sm-5 col-xs-12">
						<div class="about_image">
							<img src="{% static 'images/about.png' %} " alt="about-image" />
						</div>
					</div>
					<div class="col-md-7 col-sm-7 col-xs-12">
						<div class="about_content_area">
							<h4>About Me</h4>
							<h3>I'm a professional Software Engineer over 3 years of experience</h3>
							<p>Enthusiastic software engineer with 3+ years experience participating in the complete
								product development lifecycle of successfully launched applications. Skilled in
								Sensor-enabled FreeRTOS based Embedded Systems, IoT, and Embedded Networking. Had worked
								as backend web developer(Django) for ERP, ecommerce and medical solutions. </p>
							<div class="about_details">
								<div class="row">
									<div class="col-md-6">
										<div class="ct_about">
											<span><i class="fa fa-map-marker"></i> Location </span>
											: Tejgaon, Dhaka, Bangladesh
										</div>
									</div>
									<div class="col-md-6">
										<div class="ct_about">
											<span><i class="fa fa-calendar"></i> age </span>
											: 27
										</div>
									</div>
									<div class="col-md-6">
										<div class="ct_about">
											<span><i class="fa fa-phone"></i> Phone </span>
											: +8801677481200
										</div>
									</div>
									<div class="col-md-6">
										<div class="ct_about">
											<span><i class="fa fa-envelope"></i> Email </span>
											: sakhawathossen58@gmail.com
											<!-- : <a href="" class="__cf_email__" data-cfemail="">[email&#160;protected]</a> -->
										</div>
									</div>
								</div>
							</div>
							<a href="#0" class="btn btn-default main_btn">Download Resume</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section id="service" class="gray_bg section_padding pb_70">
		<div class="container">
			<div class="col-md-12 col-sm-12-col-xs-12">
				<div class="section_heading text-center">
					<strong>What I Do</strong>
					<h2>My Expertise</h2>
					<p>Extensive experience with database design, algorithm development, source control, embedded
						systems and multi-threaded software development environments. Design, develop and implement
						large scale enterprise level software systems.</p>
					<div class="sm_border"></div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="single-service">
						<i class="icon-bargraph"></i>
						<h4>Embedded Development</h4>
						<P>More than 2 year professional experience as an embedded developer working
							on FreeRTOS platform at Samsung R&D Institute Bangladesh.</P>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="single-service">
						<i class="icon-laptop"></i>
						<h4>Web Development</h4>
						<P>1 year working experience in web development as a backend Django developer.
							Worked on some pet project on both backend and fron-end. </P>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="single-service">
						<i class="icon-piechart"></i>
						<h4>Machine Learning</h4>
						<P>Experienced in image processing and machine learning algorithms and tools.
							Developed one prototype for Rice leaf disease detection. </P>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="single-service">
						<i class="icon-layers"></i>
						<h4>Web Scraping</h4>
						<P>Have professional experience in web scraping, data cleaning and data mining
							using python libraries e.g. BeautifulSoup, Scrapy & Selenium </P>
					</div>
				</div>
				<!-- <div class="col-md-4 col-sm-6 col-xs-12">
					<div class="single-service">
						<i class="icon-mobile"></i>
						<h4>Responsive</h4>
						<P>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Sed venenatis lectus tortor, et congue felis laoreet ac</P>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="single-service">
						<i class="icon-camera"></i>
						<h4>Photography</h4>
						<P>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Sed venenatis lectus tortor, et congue felis laoreet ac</P>
					</div>
				</div> -->
			</div>
		</div>
	</section>


	<section class="cta_section section_padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="cta_content">
						<h3>I Am Available For Freelancer !</h3>
						<a href="#contact" class="btn btn-default main_btn"><span>Hire Me</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section id="portfolio" class="section_padding">
		<div class="container">
			<div class="col-md-12 col-sm-12-col-xs-12">
				<div class="section_heading text-center">
					<strong>Works</strong>
					<h2>My Work</h2>
					<p>Extensive experience with database design, algorithm development, source control, embedded
						systems and multi-threaded software development environments. Design, develop and implement
						large scale enterprise level software systems.</p>
					<div class="sm_border"></div>
				</div>
			</div>
			<div class="row">
				<div class="work_filter text-center">
					<ul>
						<li class="active" data-filter="*">All</li>
						<li data-filter=".embedded">Embedded</li>
						<li data-filter=".web">Web</li>
						<!-- <li data-filter=".machine-learning">Machine Learning</li> -->
					</ul>
				</div>
				<div class="work_content_area">
					<div class="col-md-4 col-sm-6 col-xs-12 element-item embedded">
						<div class="item-img">
							<img src="{% static 'images/portfolio/work-1.jpg' %}" alt="" />
							<div class="item-img-overlay">
								<div class="overlay-info full-width">
									<p>Embedded / IoT</p>
									<h5>Samsung Galaxy Fit</h5>
									<a href="{% static 'images/portfolio/work-1.jpg' %} " data-lightbox="images">
										<span class="icon"><i class="ti-arrow-right"></i></span>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 element-item embedded">
						<div class="item-img">
							<img src="{% static 'images/portfolio/work-2.jpg' %} " alt="" />
							<div class="item-img-overlay">
								<div class="overlay-info full-width">
									<p>Embedded / IoT</p>
									<h5>Samsung Galaxy Fit 2</h5>
									<a href="{% static 'images/portfolio/work-2.jpg' %} " data-lightbox="images">
										<span class="icon"><i class="ti-arrow-right"></i></span>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 element-item embedded">
						<div class="item-img">
							<img src="{% static 'images/portfolio/work-3.jpg' %} " alt="" />
							<div class="item-img-overlay">
								<div class="overlay-info full-width">
									<p>Embedded / IoT</p>
									<h5>Samsung Smart Ring</h5>
									<a href="{% static 'images/portfolio/work-3.jpg' %} " data-lightbox="images">
										<span class="icon"><i class="ti-arrow-right"></i></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="work_content_area">
					<div class="col-md-4 col-sm-6 col-xs-12 element-item embedded">
						<div class="item-img">
							<img src="{% static 'images/portfolio/work-5.jpg' %} " alt="" />
							<div class="item-img-overlay">
								<div class="overlay-info full-width">
									<p>Embedded / IoT</p>
									<h5>Samsung SmartThings</h5>
									<a href="{% static 'images/portfolio/work-5.jpg' %} " data-lightbox="images">
										<span class="icon"><i class="ti-arrow-right"></i></span>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 element-item web">
						<div class="item-img">
							<img src="{% static 'images/portfolio/work-4.jpg' %} " alt="" />
							<div class="item-img-overlay">
								<div class="overlay-info full-width">
									<p>Web Development</p>
									<h5>Prism ERP</h5>
									<a href="{% static 'images/portfolio/work-4.jpg' %} " data-lightbox="images">
										<span class="icon"><i class="ti-arrow-right"></i></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="port_content_button text-center">
					<!-- <a href="#0" class='btn btn-default main_btn'>load more</a> -->
				<!-- </div> -->
			</div>
		</div>
	</section>

	<section id="resume" class="section_padding">
		<div class="container">
			<div class="col-md-12 col-sm-12-col-xs-12">
				<div class="section_heading text-center">
					<strong>Experience</strong>
					<!-- <h2>My Work</h2> -->
					<!-- <div class="sm_border"></div> -->
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="education-container wow fadeInUp">
						<ul class="edu-list experience">
							<li>
								<strong>Jul 2018 - Present</strong>
								<h5>Software Engineer</h5>
								<h6>Samsung R&D Institute Bangladesh, Dhaka</h6>
								<p>Built communication protocol libraries in C for wearable IoT devices(e.g. Samsung
									Galaxy Fit, Smart Ring) based on Dialog’s FreeRTOS DA1469x SDK. Worked with MCU
									peripherals including SPI, UART etc. Taken part in software architecture design and
									code reviews.</p>
							</li>
							<li>
								<strong>JAN 2018 - JUL 2018</strong>
								<h5>Junior Software Engineer</h5>
								<h6>Divine IT Ltd, Dhaka</h6>
								<p>Worked as a backend software engineer in ​ Python, Django & Javascript​, MySQL.
									Worked on a large and efficient web based ERP solution for multipurpose. Worked on a
									small part of an e-Commerce web app built on Django-Oscar too.</p>
							</li>
							<li>
								<strong>MAY 2015 - SEP 2017</strong>
								<h5>Problem Setter and Judge</h5>
								<h6>Daffodil International University, Dhaka</h6>
								<p>Prepared problem set for DIU Intra University and DIU Take Off Programming Contest
									and conduct contest as judge.</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="education-container wow fadeInUp">
						<ul class="edu-list">
							<li>
								<strong>2013 - 2018</strong>
								<h5>Computer Sciece and Engineering</h5>
								<h6>Daffodil International University, Dhaka</h6>
								<p>Completed Bachelor of Science in CSE with a CGPA 3.13 on scale of 4.00. Worked on
									machine learning as a final year project. </p>
							</li>
							<li>
								<strong>2013 - 2017</strong>
								<h5>ACM ICPC Contestant</h5>
								<h6>International Collegiate Programming Contest</h6>
								<p>Participated in ​four​​ ACM ICPC Dhaka Site Regiona​l and more than six NCPC​ and
									Inter University Programming Contest.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="container">
		<div class="col-md-12 col-sm-12-col-xs-12">
			<div class="section_heading text-center">
				<h2>Skills</h2>
			</div>
		</div>
	</div>

	<section id="testimonial_area" class="section_padding pb_70">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="testmonial_slider_area text-center owl-carousel">
						<div class="single_testimonial">
							<div class="pic">
								<img src="{% static 'images/testimonial/c++.jpg' %}" alt="">
							</div>
							<h5 class="testimonial-title">C++</h5>
						</div>
						<div class="single_testimonial">
							<div class="pic">
								<img src="{% static 'images/testimonial/django.jpg' %}" alt="">
							</div>
							<h5 class="testimonial-title">Django</h5>
						</div>
						<div class="single_testimonial">
							<div class="pic">
								<img src="{% static 'images/testimonial/python.jpg' %}" alt="">
							</div>
							<h5 class="testimonial-title">Python</h5>
						</div>
						<div class="single_testimonial">
							<div class="pic">
								<img src="{% static 'images/testimonial/js.jpg' %}" alt="">
							</div>
							<h5 class="testimonial-title">JavaScript​</h5>
						</div>
						<div class="single_testimonial">
							<div class="pic">
								<img src="{% static 'images/testimonial/c.jpg' %}" alt="">
							</div>
							<h5 class="testimonial-title">C</h5>
						</div>
						<div class="single_testimonial">
							<div class="pic">
								<img src="{% static 'images/testimonial/embedded.jpg' %}" alt="">
							</div>
							<h5 class="testimonial-title">Embedded Programming</h5>
						</div>
						<div class="single_testimonial">
							<div class="pic">
								<img src="{% static 'images/testimonial/rtos.jpg' %}" alt="">
							</div>
							<h5 class="testimonial-title">FreeRTOS</h5>
						</div>
						<div class="single_testimonial">
							<div class="pic">
								<img src="{% static 'images/testimonial/html.jpg' %}" alt="">
							</div>
							<h5 class="testimonial-title">HTML</h5>
						</div>

						<div class="single_testimonial">
							<div class="pic">
								<img src="{% static 'images/testimonial/css.jpg' %}" alt="">
							</div>
							<h5 class="testimonial-title">CSS</h5>
						</div>

						<div class="single_testimonial">
							<div class="pic">
								<img src="{% static 'images/testimonial/jquery.jpg' %}" alt="">
							</div>
							<h5 class="testimonial-title">jQuery</h5>
						</div>
						<div class="single_testimonial">
							<div class="pic">
								<img src="{% static 'images/testimonial/bootstrap.jpg' %}" alt="">
							</div>
							<h5 class="testimonial-title">Bootstrap</h5>
						</div>


					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- <section id="blog" class="section_padding pb_70">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12-col-xs-12">
					<div class="section_heading text-center">
						<strong>News</strong>
						<h2>Latest News</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tellus est, finibus ut
							congue sed, faucibus ut dui. Sed congue nisl dolor, id dapibus leo elementum posuere.</p>
						<div class="sm_border"></div>
					</div>
				</div>
				<div class="blog_slide_area">
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="single_blog">
							<div class="blog-thumb">
								<div class="blog-image">
									<a href="#0"><img src="{% static 'images/blog/blog1.jpg' %}" class="img-responsive"
											alt=""></a>
								</div>
								<div class="blog-info">
									<small><i class="fa fa-clock-o"></i>October 21, 2018</small>
									<span>| lifestyle</span>
									<a href="{% static 'blog-detail.html' %}">
										<h4>Beautiful Working Show.</h4>
									</a>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim eveniet incidunt
										quidem illum repellat</p>
									<a href="#0" class="btn btn-default blog_btn main_btn">Read More</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="single_blog">
							<div class="blog-thumb">
								<div class="blog-image">
									<a href="#0"><img src="{% static 'images/blog/blog2.jpg' %}" class="img-responsive"
											alt=""></a>
								</div>
								<div class="blog-info">
									<small><i class="fa fa-clock-o"></i>October 21, 2018</small>
									<span>| lifestyle</span>
									<a href="{% static 'blog-detail.html' %}">
										<h4>Top Branding Surprise</h4>
									</a>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim eveniet incidunt
										quidem illum repellat</p>
									<a href="#0" class="btn btn-default blog_btn main_btn">Read More</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="single_blog">
							<div class="blog-thumb">
								<div class="blog-image">
									<a href="#0"><img src="{% static 'images/blog/blog3.jpg' %}" class="img-responsive"
											alt=""></a>
								</div>
								<div class="blog-info">
									<small><i class="fa fa-clock-o"></i>October 21, 2018</small>
									<span>| lifestyle</span>
									<a href="{% static 'blog-detail.html' %}">
										<h4>Our Seo Marketing</h4>
									</a>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim eveniet incidunt
										quidem illum repellat</p>
									<a href="#0" class="btn btn-default blog_btn main_btn">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->


	<section id="contact" class="section_padding">
		<div class="container">
			<div class="col-md-12 col-sm-12-col-xs-12">
				<div class="section_heading text-center">
					<strong>Touch</strong>
					<h2>Get In Toch</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tellus est, finibus ut congue
						sed, faucibus ut dui. Sed congue nisl dolor, id dapibus leo elementum posuere.</p>
					<div class="sm_border"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-7 col-sm-12">
					<form id="contact-form" action="{% url 'contact' %}" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="row">
							<div class="input_padding text-center">
								<div class="form-group col-sm-12">
									<input type="text" name="name" class="form-control" id="first-name"
										placeholder="Name *" rcequired="required">
								</div>
								<div class="form-group col-sm-6">
									<input type="email" name="email" class="form-control" id="email"
										placeholder="Email *" required="required">
								</div>
								<div class="form-group col-sm-6">
									<input type="text" name="subject" class="form-control" id="subject"
										placeholder="Subject *" required="required">
								</div>
								<div class="form-group col-sm-12 mab-none">
									<textarea rows="8" name="message" class="form-control" id="description"
										placeholder="Your Message Here ..." required="required"></textarea>
								</div>
								<div class="form-group mb0 col-sm-12">
									<div class="actions">
										<button type="submit" value="Send message" name="submit" id="submitButton"
											class="btn btn-lg main_btn btn_shadow" title="Submit Your Message!">Send
											Message</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-5 col-sm-12">
					<div class="contact_widget_area">
						<div class="contact_info">
							<i class="fa fa-home"></i>
							<div class="contact_info_text">
								<h5>Home</h5>
								<p>H#: 02, Garden Road, Tejgaon, Dhaka-1215, Bangladesh.
								</p>
							</div>
						</div>
						<div class="contact_info">
							<i class="fa fa-phone"></i>
							<div class="contact_info_text">
								<h5>Phone</h5>
								<p>+8801677481200</p>
							</div>
						</div>
						<div class="contact_info">
							<i class="fa fa-envelope"></i>
							<div class="contact_info_text">
								<h5>Email</h5>
								<p>sakhawathossen58@gmail.com</p>
								<!-- <p><a href="https://getmasum.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="dc9fb0bdaeb9b2bfb98f8eb3beb9aea8af9cb6b3a9aeaebdacb5b8b9f2bfb3b1">[email&#160;protected]</a></p> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="copy-text">
						<!-- <p>CopyRight © 2020 SONNET All Rights Reserved</p> -->
					</div>
				</div>
				<div class="col-sm-6">
					<ul class="social-link pull-right">
						<li><a href="https://github.com/showkat2203"><i class="fa fa-github"></i></a></li>
						<li><a href="https://stackoverflow.com/users/8113563/md-showkat-hossain-chy"><i
									class="fa fa-stack-overflow"></i></a></li>
						<li><a href="https://www.linkedin.com/in/sonnet-n/"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="https://twitter.com/SONNET_N"><i class="fa fa-twitter"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>


	<script data-cfasync="false"
		src="https://getmasum.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
	<script src="{% static 'js/jquery.min.js' %} "></script>
	<script src="{% static 'js/bootstrap.min.js' %} "></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/modernizr-2.8.3.min.js' %}"></script>
	<script src="{% static 'js/jquery.nav.js' %}"></script>
	<script src="{% static 'js/jquery.inview.min.js' %}"></script>
	<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
	<script src="{% static 'js/animated-headline.js' %}"></script>
	<script src="{% static 'js/lightbox.min.js' %}"></script>
	<script src="{% static 'js/slick-nav.js' %}"></script>
	<script src="{% static 'js/form-contact.js' %}"></script>
	<script src="{% static 'js/scrolltopcontrol.js' %}"></script>
	<script src="{% static 'js/wow.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>

</html>